@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.app {
  width: 100%;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* This is because Select Menau in RightMenunav component
 to prevent the scrollbar disapear when open select menu
*/
body {
  overflow-y: auto !important;
  padding-right: 0 !important;
}
